html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'ralewaymedium';
}

.header{
     font-family: 'ralewaybold';
}

.goldencup-nav {
    background-color: #BF3314;
    color: white;
}
.text-red-golden {
    color: #BF3314;
}

.text-white {
    color: white;
}

.navbar {
    padding: 0 !important;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    opacity: 0.7;
}

.pagination .active a{
  background: #F68121 !important;
  border-color: #F68121 !important;
}

.pagination a{
  color: black !important;
}

.navbar-nav>.active>a{
    color: white !important;
    opacity: 1 !important;
    background-color: #BF3314 !important;
}

.show{
    display: block;
}

@media only screen and (max-width: 768px) {
    .img-logo-topbar{
        width:150px;
    }
}

@media (max-width: 1200px){
    .container {
        width: 100% !important;
    }
}

@media (max-width: 480px){
    .container {
       padding: 0px !important;
    }

     .navbar .container {
       padding: 15px !important;
    }
}