
#section1 {
    display: block;
    background-image: url('../img/section1/home_bg.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 150px;
}

.leaf-paper-mint {
    max-width: 50%;
    max-height: 100%;
    z-index: -1;
}
.golden-cup {
    max-width: 50%;
    max-height: 100%;
    margin-top: 20%;
    z-index: -1;
}
.title-section {
    position: absolute;
    max-width: 620px;
    min-width: 300px;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    color: white;
}
#Slider {
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
   #Slider{
       width: 620px;
   }
}

@media only screen and (max-width: 768px) {
   #Slider{
       width: 420px;
   }
}

@media only screen and (max-width: 480px) {
   #Slider{
       width: 300px;
   }

   .golden-cup{
       margin-top: 80%;
   }
}