#section4 {
    display: block;
    background: url('../img/section4/global_bg.jpg')  no-repeat center center fixed;
    min-height: 100%;
    position: relative;
    padding-top: 70px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.where-to-buy p {
    color: #BF3314;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.list-menu-wtb ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.list-menu-wtb ul li {
    display: inline;
    padding: 0 20px;
}

.list-menu-wtb a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #6B6B6B;
    padding: 7px;
}

.menu-item-section4.active a {
    border: 3px solid #F68121;
    border-radius: 10px;
    text-decoration: none;
    color: #6B6B6B;
}

.silde-wheretobuy img {
    width: 400px;
}

.golden-cup-shop {
    margin-top: 35px;
}

.topic p {
    font-size: 62px;
    color: #BF3314;
    font-weight: bold;
}

.topic-detail {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #F68121;
}

.topic-detail p {
    font-size: 18px;
    color: #BF3314;
    /*line-height: 40px;*/
}

.content-wheretobuy{
    margin-bottom: 30px;
}

.footer-wheretobuy {
    background-color: #BF3314;
    width: 100%;
    color: white;
    padding-bottom: 20px;
    text-align: center;
}

.footer-wheretobuy ul {
    padding: 0;
    margin-top:15px;
    margin-bottom: 30px;
    text-align: center;
    list-style: none;
}

.footer-wheretobuy li {
    display: inline;
    margin: 5px;
    /*border-radius: 5px;*/
}

.footer-wheretobuy img {
    /*width: 30px;
    height: 30px;*/
    border-radius: 5px;
}

.map-wrapper {
    position: relative;
    margin: 25px auto;
    width: 1000px;
    height: 400px;
    display: none;
}

.marker-point {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.marker-point img{
    display: none;
}

.usa-point {
    position: absolute;
    left: 70px;
    top: 140px;
}

.swe-point {
    position: absolute;
    left: 458px;
    top: 68px;
}

.uk-point {
    position: absolute;
    left: 345px;
    top: 120px;
}

.uae-point {
    position: absolute;
    left: 595px;
    top: 236px;
}

.cambodia-point {
    position: absolute;
    left: 700px;
    top: 269px;
}

.vieatnam-point {
    position: absolute;
    left: 815px;
    top: 269px;
}

.czech-point {
    position: absolute;
    left: 515px;
    top: 150px;
}

.german-point {
    position: absolute;
    left: 380px;
    top: 140px;
}

.nather-point {
    position: absolute;
    left: 478px;
    top: 125px;
}

.hongkong-point {
    position: absolute;
    left: 788px;
    top: 200px;
}

.indo-point {
    position: absolute;
    left: 700px;
    top: 310px;
}

.laos-point {
    position: absolute;
    left: 800px;
    top: 245px;
}

.israel-point {
    position: absolute;
    left: 575px;
    top: 205px;
}

.myamar-point {
    position: absolute;
    left: 690px;
    top: 225px;
}

.qatar-point {
    position: absolute;
    left: 505px;
    top: 233px;
}

.circle-point,
.usa-circle,
.cambodia-circle,
.czech-circle,
.german-circle,
.hongkong-circle,
.indo-circle,
.israel-circle,
.laos-circle,
.myamar-circle,
.nather-circle,
.qatar-circle,
.swe-circle,
.uae-circle,
.uk-circle,
.usa-circle,
.vieatnam-circle {
    border-radius: 50%;
    border: 1px white solid;
    width: 13px;
    height: 13px;
    background-color: #BD1E12;
}

.usa-circle {
    position: absolute;
    left: 113px;
    top: 168px;
}

.cambodia-circle {
    position: absolute;
    left: 795px;
    top: 273px;
}

.czech-circle {
    position: absolute;
    left: 516px;
    top: 154px;
}

.german-circle {
    position: absolute;
    left: 487px;
    top: 145px;
}

.hongkong-circle {
    position: absolute;
    left: 855px;
    top: 226px;
}

.indo-circle {
    position: absolute;
    left: 795px;
    top: 313px;
}

.israel-circle {
    position: absolute;
    left: 575px;
    top: 208px;
}

.laos-circle {
    position: absolute;
    left: 800px;
    top: 248px;
}

.myamar-circle {
    position: absolute;
    left: 777px;
    top: 250px;
}

.nather-circle {
    position: absolute;
    left: 478px;
    top: 128px;
}

.qatar-circle {
    position: absolute;
    left: 612px;
    top: 236px;
}

.swe-circle {
    position: absolute;
    left: 501px;
    top: 95px;
}

.uae-circle {
    position: absolute;
    left: 639px;
    top: 237px;
}

.uk-circle {
    position: absolute;
    left: 452px;
    top: 124px;
}

.usa-circle {
    position: absolute;
    left: 113px;
    top: 167px;
}

.vieatnam-circle {
    position: absolute;
    left: 816px;
    top: 273px;
}

.map-destop{
    display: block;
}

.map-phone{
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    #section4 {
        padding-top: 70px;
    }
    .where-to-buy {
        padding-bottom: 0;
    }
    .where-to-buy p {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .list-menu-wtb a {
        font-size: 14px;
        padding: 4px;
    }
    .topic p {
        font-size: 32px;
        text-align: center;
    }
    .topic-detail p {
        font-size: 16px;
    }
    .footer-wheretobuy {
        height: 10%;
    }
    .footer-wheretobuy h1 {
        color: white;
        font-size: small;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 1170px){
    .silde-wheretobuy,.content-right{
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 992px){
    .content-right {
        padding-left: 10%;
        padding-right: 10%;
    }
}


@media (max-width: 1042px){
    .map-destop{
        display: none;
    }

    .map-phone{
        display: block;
    }
    .map-wrapper{
        width:auto;
    }
}