#section6 {
    display: block;
    min-height: 100%;
    position: relative;
    padding-top: 50px;
}
.container {
    padding: 0;
}
.map {
    /*background-color: #BF3314;*/
    padding: 0;
}
#googleMap {
    height: 450px;
}
.menu-map {
    position: absolute;
    background-color: white;
    top: 40px;
    width: 100%;
}
.menu-map h1 {
    float: left;
    margin: 5px;
    padding-left: 20%;
}
.menu-map ul {
    margin-top: 10px;
}
.contact-form {
    background-color: #6B6B6B;
    height: 450px;
    color: white;
}
.form {
    padding-top: 100px;
}
.form h1 {
    margin: 0;
    font-weight: bold;
}
.form input {
    border: none;
    border-radius: 3px;
    width: 80%;
    margin: 2px;
    padding: 2px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 12px;
   padding-left: 5px;
}
.footer {
    background-color: #BF3314;
    height: 300px;
    clear: both;
}
.logo-footer {
    padding: 0;
    margin-top: 7%;
}
.logo-footer img {
    float: right;
}
.contact-footer {
    padding-top: 15px;
}
.contact-footer .contact-info {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.place {
    color: yellow;
}
.contact-factory {
    padding: 0;
    color: white;
}
.contact-showroom {
    padding: 0;
    color: white;
}
.detail-contact-footer {
    height: 190px;
    border-bottom: 1px solid white;
}
.copyright {
    color: white;
    margin-top: 10px;
}
.btn-submit {
    float: left;
    background-color: white;
    color: #BF3314;
    font-weight: bold;
    border-radius: 3px;
    padding: 4px;
    margin-top: 10px;
    margin-left: 1px;
}
.btn-submit span {
    border-radius: 100%;
    color: white;
    background-color: #BF3314;
    padding: 1px 5px;
    margin-left: 3px;

}
.btn-clear {
    margin-left: 75%;
    padding-top: 10px;
}

@media (max-width: 992px){
    .logo-footer {
        visibility: hidden;
        height: 0;
    }
    .logo-footer {
        margin: 0;
    }
    .logo-footer img {
        visibility: hidden;
        height: 0;
    }
    .copyright {
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .detail-contact-footer p {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }
    .logo-footer {
        margin: 0;
    }
    .menu-map h1 {
        padding-left: 15%; 
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .list-menu li {
        padding: 0 8px;
    }
    .list-menu a {
        padding: 4px;
        font-size: 18px;
    }
}