#section2 {
    display: block;
    min-height: 100%;
    position: relative;
    padding-top: 70px;
    background: #D4D4D4;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#D4D4D4, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#D4D4D4, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#D4D4D4, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#D4D4D4, white);
    /* Standard syntax */
}
.about {
    top: 0;
    /*position: absolute;*/
}
.list-menu {
    text-align: center;
}

.list-menu li {
    padding: 0 10px;
}

.list-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #6B6B6B;
    padding: 7px;
    cursor: pointer;
}   

.list-menu a:hover {
    border: 3px solid #F68121;
    border-radius: 10px;
    text-decoration: none;
    color: #6B6B6B;
}

.menu {
    line-height: 40px;
    margin-top: 20px;
}

.intro-vdo {
    padding-top: 120px;
}
.intro-vdo iframe{
    width: 100%;
}

.about-content{
    overflow: hidden;
    margin-top: 45px;
    margin-bottom: 25px;
}

.box-golden-left{
    max-width: 50%;
    max-height: 100%;
    position: absolute;
    top: 10%;
}
.intro-vdo {
    text-align: center;
}
.intro-vdo iframe {
    width: 80%;
    height: 280px;
}
.leaf-right{
    max-width: 50%;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .list-menu li {
        padding: 0 8px;
    }
    .list-menu a {
        font-size: 14px;
        padding: 4px;
    }
    .list-submenu p {
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .intro-vdo{
        padding-top: 0px;
    }

    .about-content{
        padding-left: 10%;
        padding-right: 10%;
    }

    .topic{
        text-align: center;
    }

    .golden-cup-shop{
        margin-bottom: 45px;
    }
}