#section5 {
    display: block;
    min-height: 100%;
    position: relative;
    padding-top: 70px;
    background: #D4D4D4;
    /* For browsers that do not support gradients */
    
    background: -webkit-linear-gradient(#D4D4D4, white);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#D4D4D4, white);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#D4D4D4, white);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#D4D4D4, white);
    /* Standard syntax */
}

.gallery-box{
    background-color: white;
    padding: 15px;
    margin-top: 30px;
}