#section3 .slide {
    background:transparent;
    float: left;
    padding: 10px;
    height: 120px;
    text-align: center;
    width: 120px;
    /*border: 10px solid transparent;*/
}

#section3 .slide.active {
   border: 4px solid #F27620;
   border-radius: 6px;
}

#section3 .slide img{
  vertical-align: top;
  width:45px;
}
#section3 .slide p{
  margin-top: 10px; 
}

#section3 .purejscarousel {
    overflow: hidden;
}

#section3 .carousel {
    margin: 25px auto;
    overflow: hidden;
    position: relative;
    width: 240px;
}

#section3 .purejscarousel-btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 20px;
}

#section3 .purejscarousel-btn-next {
    border-bottom: 8px solid #aaa;
    border-right: 8px solid #aaa;
    right: 5px;
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

#section3 .purejscarousel-btn-prev {
    border-bottom: 8px solid #aaa;
    border-left: 8px solid #aaa;
    left: 5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#section3 .purejscarousel-dots-container {
   display: none;
}

@media (min-width: 768px){
  #section3 .carousel {
      width: 360px;
  }
}

@media (min-width: 992px){
  #section3 .carousel {
      width: 480px;
  }
}

